body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
button {
  width: 130px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.floatleft,
.floatright {
  margin: 20px;
}
h1 {
  clear: both;
  text-align: center;
}
header {
  border-bottom: 5px solid white;
  padding-bottom: 50px;
}
div {
  width: 120px;
  height: 120px;
  background-color: white;
  position: relative;
  top: -65px;
  left: 43vw;
  color: black;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}
.sectionleft,
.sectionright {
  position: relative;
  top: -60px;
  display: inline-block;
  width: 47vw;
}
input {
  display: block;
  width: 200px;
  height: 80px;
  border: 5px solid white;
  background-color: black;
  top: -10px;
  left: 20%;
}

input,
#check {
  position: relative;
  margin-bottom: 25px;
}
#check {
  left: 27%;
}
button:hover {
  background-color: rgb(216, 211, 201);
  border: 2px solid rgb(216, 211, 201);
}
